<div class="menu-header" style="margin:10px 5px 0px 5px;">
    <div class="section-header-inner" ng-controller="menuHeaderContlr">
        <div style="margin:10px 10px 2px 10px;">
            <table class="rich-toolbar" width="100%">
                <tbody>
                    <tr valign="middle">
                        <td class="rich-toolbar-item" style="background-color:#000000;margin:0;">
                            <a href="http://localhost:8180/supercal/home.seam" id="userHomeId">
                                <img src="img/smbsupercallogo.png" alt="Yes Optus Business" style="margin:0;" />
                            </a>
                        </td>
                        <td style="width:100%"></td>
                        <td class="rich-toolbar-item" style=";">
                            <span class="menuHeaderWelcome" style="margin-left:8px;margin-right:10px;padding-top:2px;" ng-bind="username"></span>
                        </td>
                        <td class="rich-toolbar-item">
                            <div class="rich-ddmenu-label rich-ddmenu-label-unselect">
                                <div onmouseenter="showMenu();" onmouseleave="hideMenu();" class="rich-label-text-decor">
                                    <span style="COLOR: #f0e40b; font-weight: bold; text-decoration: underline; font-size: 14px;">
                                        Main Menu
                                    </span>
                                </div>
                                <div style="margin: 0px; padding: 0px; border: 0px; position: absolute; z-index: 100; ">
                                    <div id="menudiv" class="rich-menu-list-border" onmouseenter="showMenu();"  onmouseleave="hideMenu();" style="z-index: 2; left: -138px; top: 3px; width: 215px;display:none;">
                                        <div class="rich-menu-list-bg">
                                            <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                            <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                                                                        <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                                                                        <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                                                                        <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                                                                        <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                                                                        <div class="rich-menu-item rich-menu-item-enabled" onclick="">
                                                <span class="rich-menu-item-icon">
                                                    <img alt="" height="16" src="img/spacer.gif" width="16">
                                                </span>
                                                <span class="rich-menu-item-label">
                                                    <a href="/supercal/CompareRatePlans.seam" class="menuHeaderItems">Compare Rate Plans</a>
                                                </span>
                                            </div>
                                            <div class="rich-menu-separator" id="menuSeparator1"></div>
                                            <div class="rich-menu-list-strut">
                                                <div class="rich-menu-list-strut" style="">&nbsp;</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="rich-toolbar-item  " style=";">
                            <a href="" id="menuLogoutId">
                                <img id="logout" src="img/but-logout.gif" style="cursor:pointer;vertical-align:middle;" class="pic" />
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>