<div id="ajaxLoadingModalBox">
    <div style="background-color: inherit;" id="ajaxLoadingModalBoxContainer" class="rich-modalpanel ajaxLoadingMsgBox">
        <div id="ajaxLoadingModalBoxDiv" class="dr-mpnl-mask-div dr-mpnl-mask-div-opaque rich-mpnl-mask-div">
            <button id="ajaxLoadingModalBoxFirstHref" class="dr-mpnl-pnl-button"></button>
        </div>
        <div class="dr-mpnl-panel rich-mpnl_panel">
            <div style="left: 200px; top: 500px;" id="ajaxLoadingModalBoxCDiv">
                <!--<div id="ajaxLoadingModalBoxShadowDiv" class="dr-mpnl-shadow rich-mpnl-shadow"></div>-->
                <div style="background-color:#006685;top: 500px;left: 500px;" id="ajaxLoadingModalBoxContentDiv" class="dr-mpnl-ovf-hd dr-mpnl-trim dr-mpnl-pnl rich-mp-content">
                    <table cellspacing="0" cellpadding="0" border="0" style="height: 100%; width: 100%;" id="ajaxLoadingModalBoxContentTable">
                        <tbody>
                            <tr style="height: 99%">
                                <td valign="top" class="dr-mpnl-pnl-b rich-mpnl-body">
                                    <img class="pic" style="vertical-align:middle;" src="img/ajax-loader.gif">
                                    <span style="color:#ffd100;font-size:13px;padding-bottom:5px;">Please wait... Processing in Progress...</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="z-index: -200;" id="ajaxLoadingModalBoxCursorDiv" class="dr-mpnl-mask-div dr-mpnl-mask-div-transparent rich-mpnl-mask-div">
            <button id="ajaxLoadingModalBoxLastHref" class="dr-mpnl-pnl-button"></button>
        </div>
    </div>
</div>